<IfModule mod_rewrite.c>
RewriteEngine On

# Map extensionless URLs to their .html counterparts
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>
